@font-face {
    font-family: fontS;
    src: url(Sketch\ College.ttf);
}
#question{
    text-align: center;
    font-size: 3vw;
    font-family: fontS;
    position: absolute;
    top: 10vh;
    left: 20vw;
    width: 60vw;
}

#answer{
    text-align: center;
    font-size: 3vw;
    font-family: fontS;
    position: absolute;
    top: 40vh;
    left: 20vw;
    width: 60vw;
}

#rs, #start{
    position: absolute;
    text-align: center;
    bottom: 3%;
    left: 30%;
    font-size: 3vh;
    width: 40vw;
    height: 7vh;;
}

#banner{
    position: absolute; 
    bottom: 40%;
    left: 80%;
}

#scoreboard {
    position: absolute;
    bottom: 10%;
    left: 85%;
}

#score{
    position: absolute;
    top: 0;
    left: 87vw;
    font-size: 3vw;
    font-family: fontS;
}
#title{
    text-align: left;
    font-size: 3vw;
    font-family: fontS;
}

#hangman {
    position: absolute;
    top: 65%;
    left: 5%;
    width: 15vw;
    height: 30vh;
}

#buttons{
    text-align: center;
    font-size: 3vh;
    position: absolute;


    top: 40vh;
    left: 25vw;
    height: 50vh;
    width: 50vw;
}