/* -------------------Importing Font----------------------------------*/
@font-face {
    font-family: fontS;
    src: url(Sketch\ College.ttf);
}
/* -------------------Preventive Measure for Scrolling-----------------*/
html, body {
    margin: 0; 
    height: 100%; 
    overflow: hidden
}
#question{
    text-align: center;
    font-size: 2.5vh;
    font-family: fontS;
    position: absolute;
    top: 10vh;
    left: 20vw;
    width: 60vw;
}

#answer{
    text-align: center;
    font-size: 3vh;
    font-family: fontS;
    position: absolute;
    top: 25vh;
    left: 20vw;
    width: 60vw;
}
/*----------------------------All Buttons-----------------------*/
#rs, #start{
    position: absolute;
    text-align: center;
    bottom: 3%;
    left: 30%;
    font-size: 3vh;
    width: 40vw;
    height: 7vh;
    font-family: fontS;
}
#buttons{
    text-align: center;
    font-size: 3vw;
    position: absolute;
    top: 45vh;
    left: 25vw;
    height: 30vh;
    width: 50vw;
}
/*--------------------------------Scoring System-----------------*/
#leaderboard{
    height: 30vh;
    width: 16vw;
    position: absolute;
    bottom: 50vh;
    right: 2vw;
}
#banner{
    font-family: fontS;
    font-weight:lighter;
    font-size: 2.5vw;
    text-decoration: underline;
    text-decoration-color: grey;
}

#scoreboard {
    font-family: fontS;
    text-align: left;
    font-weight: 300;
    font-size: 1.5vw;
}

#score{
    position: absolute;
    top: 0;
    left: 87vw;
    font-size: 3vw;
    font-family: fontS;
    text-align: right;
}
/*--------------------------Top---------------------------------*/
#title{
    text-align: left;
    font-size: 3vw;
    font-family: fontS;
}

#hangman {
    position: absolute;
    top: 50vh;
    left: 1vw;
    width: 21vw;
    height: 35vh;
}

/*--------Removes image if aspect ratio is too small---------------*/
@media only screen and (max-width: 600px) {
    #hangman{
        display: none;
    }
}